{
    "presets": ["@babel/preset-env"],
        "env": {
            // "targets": {
            //     "browsers": [
            //         "last 5 versions",
            //         "ie >= 8"
            //     ]
            // }
        }
    
}

// {
//     "presets": ["@babel/preset-env"]
//   }

//   {
//     "presets": ["@babel/preset-env"],
//     "env": {
//       "test": {
//         "presets": ["env"]
//       }
//     }
//   }